/* make cells vertical middle */
.ag-row .ag-cell {
  display: flex;
  align-items: center;
}

.ag-theme-balham .ag-cell {
  font-size: 10pt;
  font-family: Calibri, "Segoe UI", Thonburi, Arial, Verdana, sans-serif;
  line-height: 1.4;
}

/* centres all header cells */
.ag-header-cell-label {
   justify-content: center;
}

.centredCell {
  text-align: center;
  width: 100%;
  justify-content: center;
}

/* national flag */
.jgofer-flag {
  font-size: 3.2em;
  width: 300px;
}

