/* make cells vertical middle */
.ag-row .ag-cell {
  display: flex;
  align-items: center;
}

.ag-theme-balham .ag-cell {
  font-size: 10pt;
  font-family: Calibri, "Segoe UI", Thonburi, Arial, Verdana, sans-serif;
  line-height: 1.4;
}

// .ag-theme-balham .ag-header-cell::after, - this has border-right that is the pipe between header cells
/* centres all header cells */
.ag-header-cell-label {
   justify-content: center;
}

// need to have word-wrapping in header cells
.ag-theme-balham .ag-header-cell-label .ag-header-cell-text {
  white-space: normal;
  text-align: center;
}

.centredCell {
  text-align: center;
  width: 100%;
  justify-content: center;
}

.multilineCell {
  white-space: normal;
}

.fullHeightCell {
  vertical-align: middle;
  height: 100%;
}

/* national flag */
.jgofer-flag {
  font-size: 3.2em;
  width: 300px;
}

.subHeadingInRow {
  font-size: 1.1em;
  background-color: #220ed8;
  color: white;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: lightgreen;
  border-radius: 50%;
  display: inline-block;
}

.dotOn {
  height: 25px;
  width: 25px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
}

.header {
  background-color: black;
  color: white;
}

.fakeHeader {
  background-color: black;
  color: white;
}

.qtr {
  border-left: 1px solid goldenrod;
  height: 100%;
}

.qtr4 {
  border-left: 1px solid goldenrod;
  border-right: 1px solid goldenrod;
}

.segmentLabel {
  color: goldenrod;
  margin-top: 2px;
}

.squeeze {
  margin-left: 1px;
  width: 99%;
  height: 100%;
}

.floatUp {
  margin-top: -18px;
}

.floatDown {
  margin-top: 7px;
}

