.jgofer-grid-container {
  padding: 2px;
  width: 100%;
}

.jgofer-grid {
  width: 100%;
  height: 1250px;
}

.jgofer-legend-container {
  padding: 10px 0 0 20px;
  width: 100%;
}

.legend-text {
  margin-left: 10px;
}
