<div class="jgofer-grid-container">
  <ag-grid-angular class="ag-theme-balham jgofer-grid" [id]="id$" [rowData]="rowData" [columnDefs]="columnDefs" [gridOptions]="gridOptions"
    [modules]="modules"></ag-grid-angular> <!--  [frameworkComponents]="frameworkComponents" -->

  <div class="jgofer-legend-container">
    <div class="row">
      <div class="col-1">
        <button class="btn btn-danger btn-xs"><span class="fa fa-exclamation-circle"></span></button><span class="legend-text">High</span>
      </div>
      <div class="col-1">
        <button class="btn btn-success btn-xs"><span class="fa fa-check-circle"></span></button><span class="legend-text">Yes</span>
      </div>
    </div>
    <div class="row">
      <div class="col-1">
        <button class="btn btn-warning btn-xs"><span class="fa fa-exclamation-circle"></span></button><span class="legend-text">Medium</span>
      </div>
      <div class="col-1">
        <button class="btn btn-secondary btn-xs"><span class="fa fa-times"></span></button><span class="legend-text">No</span>
      </div>
    </div>
    <div class="row">
      <div class="col-1">
        <button class="btn btn-success btn-xs"><span class="fa fa-exclamation-circle"></span></button><span class="legend-text">Low</span>
      </div>
    </div>
  </div>
</div>
